.home-page-body{
  display: flex;
  @media screen and (max-width: 750px) {
    display: grid;
    height: auto;
    justify-content: space-evenly;
  }
  flex-direction: column 1 3;
  justify-content: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/wood.jpg");
  opacity: 0.8;
  height: 90vh;
  color: #ffff;

  .form-boby  {
    margin: auto;
    form {
      text-align:  center;
      display: grid;
      justify-items: center;
      margin: 2px 0;
    }
  }

  .input-number-text {
    font-size: 1.1rem;
    height: 2.5rem;
    width: 12rem;
    border-radius: 0.6rem;
    color: #ffff;
    outline: none;
    padding: 0 4px;
    border: 0.5px solid;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  .error-message-class {
    color: #f31129;
    font-size: 0.8rem;
  }

  .btn-homepage {
    height: 2.5rem;
    box-shadow: 0 .4rem 4.0rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight: normal;
    color: #ffff;
    outline: none;
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .btn-download-random-numbers {
    background: green;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .btn-generate-random-numbers {
    background-color:  #135BFF;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  .sort-options {
    height: 2.5rem;
    cursor: pointer;
    width: -webkit-fill-available;
    outline: none;
    color: #ffff;
    border-radius: 0.6rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }
  
  .number-table-body {
    overflow: hidden;
    width: 40rem;
    @media screen and (max-width: 750px) {
      width: fit-content;
    }
    height: 80vh;
    text-align: center;
    margin: auto;
    background-color:  #000000;
    opacity: 0.8;
    border-radius: 4px;
    box-shadow: 0 0.4rem 4rem 0 rgba(0, 2, 1, 1);
    padding-bottom: 5px;

  }
  .scroll {
    overflow: scroll;
    height: 30rem;
    top: 5rem;
    text-align: center;
  }


  .random-table {
    margin: auto;
    th {
      position: sticky;
      position: -webkit-sticky; /* Safari */
      top: 0;
      padding: 1rem 2rem;
      background-color: #282c34;
      border: 1px solid #265966;
    }
    td {
      border: 1px solid #f31129;
    }
  }

  .min-max {
    display: grid;
    flex-direction: row;
    justify-content: baseline;
    height: 34px;
    margin: 1rem 0;
  }
}

